@model IEnumerable<EmployeeDeductions.Web.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Add New Employee", "Create")
</p>
<table class="table table-condensed table-hover">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>       
        <th>
            Depedents Count
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Dependents.Count)
        </td>
        <td>
            @Html.ActionLink("Add Dependent", "AddDependent", new { EmployeeId = item.EmployeeId })           
        </td>        
        <td>
            <div id="@item.EmployeeId" class="btn-calculate btn btn-primary">Calculate Benefits Cost</div>
        </td>
            @Html.HiddenFor(modelItem => item.EmployeeId)
    </tr>
}    
</table>
<div id="calculatedBenefits"></div>
